@page
@model SparkAuto.Areas.Identity.Pages.VerfiyEmailModel

<h1>Confirme o endereço de Email </h1>
<div>
    <p>
        Confirme seu e-mail antes de continuar!
        <br />
        Se você não recebeu nenhum e-mail, verifique sua pasta de spam!
    </p>
</div>